body {
    background: white;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}


rect {
    pointer-events: all;
}

line {
    stroke: #000;
    stroke-width: 1.5px;
}

